.status-box {
  background-color: #a5d6a7;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  font-weight: bold;
  transition: 0.3s ease;
  cursor: pointer;
}

.status-approved{
    background-color: #a5d6a7;
}

.status-pending{
    background-color: #fff59d;
}

.status-rejected{
    background-color: #ef9a9a;
}

.status-approved:hover{
  background-color: #66bb6a;
  color: white;
}

.status-pending:hover{
  background-color: #fdd835;
  color: white;
}

.status-rejected:hover{
  background-color: #e57373;
  color: white;
}
